button.enabled {
    background-color: #3898ec;
    font-size: 14px;
    color: white;
    margin: 3px;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
}
button.disabled {
    background-color: #7e7e7e;
    font-size: 14px;
    color: white;
    margin: 3px;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
}
input {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    width: 20%;
    min-width: 150px;
    background: papayawhip;
    border: none;
    border-radius: 10px;
}
